doctype html
html(lang="tr")
	head
		title GulpJS Example
		script(type="text/javascript", src="js/script.js")
		link(rel="stylesheet", href="css/style.css")
	body
		.container
			h1
				| Hello 
				span GulpJS
			button.red.center Red / Light
			button.dark.center Dark / blue
			button.light.center Light / Dark
			button.green.center Green / Dark
			button.blue.center Blue Dark