doctype html
html(lang="tr")
	head
		title GulpJS Example
		script(type="text/javascript", src="js/script.js")
		link(rel="stylesheet", href="css/style.css")
	body
		.container
			h1
				| Hello 
				span GulpJS
			button.button.dard.center Click Me!